<h3>
<%= t(:passing, :scope => [:txt, :view, :final_exam_terms, :pass, :rhtml]) %> -
<%= @final_exam_term.index.student.display_name %>
</h3>
<% if flash[:error] %>
<div id='error' class='error'>
  <%= flash[:error] %>
</div>
<% end %>
<% form_tag({:action => 'save_pass'}, {:multipart => true}) do -%>
  <%= hidden_field_tag :id, @final_exam_term.id %>
  <fieldset>
    <label><%= t(:passing_date, :scope => [:txt, :view, :final_exam_terms, :pass, :rhtml]) %></label>
    <%= select_date(@date) %>
    <br/>
    <br/>
    <label><%= t(:questions, :scope => [:txt, :view, :final_exam_terms, :pass, :rhtml]) %></label>
    <%= text_area_tag :questions, "1. \n2. \n3. \n4.", :rows => 4, :cols => 60 %>
    <br/>
    <br/>
    <label><%= t(:discussion, :scope => [:txt, :view, :final_exam_terms, :pass, :rhtml]) %></label>
    <%= text_area_tag :discussion, "1. \n2. \n3. \n4.", :rows => 4, :cols => 60 %>
    <br/>
    <br/>
    <%= submit_tag t(:passed, :scope => [:txt, :view, :final_exam_terms, :pass, :rhtml]) %>
  </fieldset>
<% end %>
