<br />
<br />
<br />
<br />
<p class='rightAlign'>Vážený pan/paní<br/>
<%= @candidate.display_name %><br/>
<% unless @candidate.postal_city.empty? %>
<%= @candidate.sending_postal_address %></p>
<% else %>
<%= @candidate.sending_address %></p>
<% end %>
<br/>
<br/>

<p>Vážený pane/paní,</p>

<p>na základě úspěšně vykonané přijímací zkoušky, jste byl/a
<% unless @conditional %><strong> s účinností od
  <%= Parameter.get("enrolled_from", @faculty) %> <%=Time.now.strftime("%Y")%> přijat/a</strong><% end %> ve&nbsp;smyslu § 47, zákona č. 111/98 Sb. o vysokých školách,
<% if @conditional %><b>podmínečně přijat/a</b><% end %>
do <%= @candidate.study.name %> formy doktorského studia na&nbsp;<%= @faculty.short_name%> ČZU v Praze</p>

<h3 class='centerAlign'>studijní obor: <%= @candidate.specialization.name %></h3>
<br/>
<p>Vaším školitelem byl/a ustanoven/a <%= @candidate.tutor.display_name %>,
 <%= first_lower(@candidate.department.name) %> <%= @faculty.short_name%>.</p>
<% unless @conditional %>
<h3 class='centerAlign'>Zápis do studia se uskuteční dne <%= Parameter.get("enroll_invitation_time_and_place", @faculty) %>.</h5>
<% else %>
<p>Do studia budete zapsán po předložení dokladů o ukončení magisterského stupně vzdělání.</p>
<% end %>
<% if @candidate.study_id == 1 %>
<p>Zároveň Vám přiznávám stipendium ve výši
<%= Parameter.get("start_stipendia", @faculty) %>,- Kč měsíčně, které Vám bude
vypláceno <% if @conditional %>ode dne nástupu do studia,<% else %>od&nbsp;1.&nbsp;října <%= Time.now.year %>,<% end %>
vždy zpětně 15. následujícího měsíce na Váš peněžní účet.</p>
<% end %>
<p>Upozorňuji Vás, že je Vaší povinností do <%= Parameter.get('methodics_term', @faculty) %> vypracovat a předložit studijní plán a do 3 měsíců od nástupu metodiku disertační práce.</p>

<p>Proti tomuto rozhodnutí je možno podat odvolání k rukám <%= @faculty.id==2 ? "ředitele" : "děkana" %> <%= @faculty.short_name%>
ČZU v Praze do 30&nbsp;dnů ode dne doručení.</p>
</p>
<br/>
<br/>
<br/>
<p>V Praze dne <%= (@candidate.admited_on || Time.now).strftime("%d. %m. %Y") %></p>
<p class='rightAlignLefter'><%= first_upper(@faculty.dean.display_name) %><br/>
<%= @faculty.dean_label %> <%= @faculty.short_name %> ČZU</p>

<div class='links confirm-admitt'>
  <div class="confirm-admitt-top-links">
	<a href='javascript:window.print()'>tisk</a>
	<% if @user %>
	<%#= link_to 'zpět', :page => session[:current_page_backward], :action => 'list'%>
    <% if session[:back_page] == 'list' %>
      <%= link_to t(:message_0, :scope => [:view, :candidates, :confirm_admit]), :action => 'list',:page => session[:current_page_backward] %>
    <% else %>
      <%= link_to t(:message_1, :scope => [:view, :candidates, :confirm_admit]), :action => 'list_all'%>
    <% end %>

  </div>
	<% unless @candidate.admited? %>
        <div id='mailLink'>
	  <span id='mailLink1'><%= link_to_remote t(:message_2, :scope => [:view, :candidates, :confirm_admit]), :update => 'mailLink', :url => {:action => 'admit_now', :id => @candidate.id, :mail => 'mail'} %></span>
	  <span id='mailLink2'><%= link_to_remote t(:message_3, :scope => [:view, :candidates, :confirm_admit]), :update => 'mailLink', :url => {:action => 'admit_now', :id => @candidate.id, :mail => 'no mail'} %></span>
        </div>
	<% end %>
	<% end %>
</div>
<script type="text/javascript">window.print()</script>

