<% form_tag(:action => 'create') do -%>
<fieldset>
  <label><%= "#{t(:message_1, :scope => [:view, :interrupts, :index])}:" %></label>
  <%= start_date_select %><br />
    <label><%= t(:message_2, :scope => [:view, :interrupts, :index]) + " (" + t(:message_3, :scope => [:view, :interrupts, :index]) + "):" %></label>
  <%= select('interrupt', 'duration', (1..24)) %><br />
  <label><%= "#{t(:message_4, :scope => [:view, :interrupts, :index])}:" %></label>
  <%= text_area('interrupt', 'note') %><br />
  <label><%= "#{t(:message_5, :scope => [:view, :interrupts, :index])}:" %></label>
  <%= select('interrupt', 'plan_changed', yes_no_options) %><br />
</fieldset>
<%= submit_tag(t(:message_6, :scope => [:view, :interrupts, :index])) %>
<% end %>

