<% login_form do %>
  <div title="<%= t(:message_1, :scope => [:txt, :view, :account, :login, :rhtml]) %>" id="loginform" class="form">
    <% if @message %>
    <div id="message"><%= @message %></div>
    <% end %>

    <div style='clear: both'>
      <label for="user_login"><%= t(:message_2, :scope => [:txt, :view, :account, :login, :rhtml]) %></label>
      <input type="text" name="user_login" id="user_login" size="30" value=""/>
    </div>

    <div style='clear: both'>
      <label for="user_password"><%= t(:message_3, :scope => [:txt, :view, :account, :login, :rhtml]) %></label>
      <input type="password" name="user_password" id="user_password" size="30"/>
    </div>

    <div style='clear: both'>
      <label for="locale"><%= t(:message_4, :scope => [:txt, :view, :account, :login, :rhtml]) %></label>
      <%= locale_link %>
    </div>
    <div style='clear: both'>
      <label for="submit"><%= t(:message_5, :scope => [:txt, :view, :account, :login, :rhtml]) %></label>
      <%= submit_tag(t(:message_6, :scope => [:txt, :view, :account, :login, :rhtml]), :id => 'login-button', :class => 'button') %>
    </div>
    <br />
  </div>
<% end %>

<% unless @actualities.empty? %>
<h5><%= t(:message_7, :scope => [:txt, :view, :account, :login, :rhtml]) %></h5>
<ul id='actuallities'>
  <%= render(:partial => 'actuality', :collection => @actualities) %>
</ul>
<% end %>

<script type="text/javascript">
  document.getElementById("user_login").focus();
</script>
